<?xml version="1.0" encoding="utf-8"?>
<!--
  web.config - Azure App Service configuration for Node.js
  This tells Azure how to run your Node.js application
-->
<configuration>
  <system.webServer>
    <!-- Enable URL rewriting module -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Use iisnode to run Node.js -->
    <iisnode nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" />
    
    <!-- Set request limits for large video uploads -->
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10485760" maxQueryString="2097152" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
